@charset "UTF-8";

/*Mobal First*/
/*
#D7D7D9
#747C8C
#402E1E
#BF926B
#73574D
 */



* {
    font-family: "Orbitron", sans-serif, Arial, Helvetica;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*o preenchimento e a borda serão incluídos na largura e na altura*/

    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}

body, html {
    background: lightsteelblue url(../images/background.jpg) no-repeat;
    background-attachment: fixed; /*A background-attachmentpropriedade define se uma imagem de fundo rola com o resto da página ou é fixa.*/
    background-size: cover; 
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

header {
    font-size: 1em;
    text-shadow: 1px 1px 3px rgb(255, 255, 255); /*Editar*/
}

main {
    position: relative;
    height: 93vh;
    width: 100vw;
}

.calculator {
    position: absolute;
    top: 45%;
    left: 50%;
    /*Como o ponto de referencia para top e left é o superior esquerdo da div, podemos alinhar ela usando o transform passando o translate*/
    transform: translate(-50%, -50%);
    overflow: hidden; /*hidden vai cortar todo o excesso que transbordar o elemento. Para esse caso, vele tentar o auto que cria barra de rolagem caso ultrapasse.*/

    background-color: #B9B9BB;
    width: 340px;
    height: 510px;
    border-radius: 10px 10px 50px 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.700);
}

div.display {
    display: block;
    position: absolute;
    top: 1%;
    left: 50%;
    
    transform: translate(-50%, -0%);
    
    background-color: #73574dcb;
    width: 97%;
    height: 30%;
    border-radius: 20px 20px 4px 4px;
}

div.display > span {
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 15%;

    transform: translate(-50%, -0%);

    font-size: 3em;
}

div.display > output {
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 60%;

    transform: translate(-50%, -50%);

    background-color: #747C8C;
    width: 68%;
    height: 35%;
}

div.buttons {
    position: absolute;
    /*overflow: hidden;*/
    top: 66%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #747c8c81;
    width: 97%;
    height: 66%;
    border-radius: 4px 4px 50px 50px;
    padding: 10px;
}

div.buttons > button {
    width: 60px;
    height: 50px;
}

div.buttons > div.red {
    left: 30%;
    height: 7%;
}

div.buttons > div.red > button {
    background-color: rgba(228, 32, 32, 0.671);
    color: white;
    height: 100%;
    width: 12%;
}

div.buttons > div.orange {
    height: 10%;
    margin-top: 3px;
}

div.buttons > div.orange > button {
    background-color: orange;
    height: 100%;
    width: 18%;
}

div.buttons > div.greyc1 {
    position: absolute;
    /*background-color: rgb(160, 206, 160);*/
    margin: 1px;
    height: 80%;
    width: 19%;
    left: 60%;
}

div.buttons > div.greyc1 > button {
    background-color: grey;
    width: 80%;
    height: 20%;
    margin: 2px;
}

div.buttons > div.greyc1 > #mais {
    /*background-color: rgb(10, 185, 19);*/
    width: 80%;
    height: calc(40% + 6px);
}

div.buttons > div.greyc2 {
    position: absolute;
    /*background-color: rgb(97, 167, 214);*/
    margin: 2px;
    height: 80%;
    width: 19%;
    left: 78%;
}

div.buttons > div.greyc2 > button {
    background-color: grey;
    margin: 2px;
    width: 80%;
    height: 20%;
}

div.buttons > div.white {
    position: absolute;
    /*background-color: rgb(212, 158, 172);*/
    margin: 2px;
    height: 80%;
    width: 58%;
}

div.buttons > div.white > button {
    margin: 2px;
    width: 28%;
    height: 20%;
}