@charset "UTF-8";

/*Mobal First*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Orbitron", sans-serif, Arial, Helvetica;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100vh;
    background: lightgray url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    font-size: 1.3em;
}

main {
    height: 530px;
    width: 480px;
    background-color: lightgrey;
}